body {
    font-family: system-ui;
}
button:not(.operation-button), input, select, textarea {
    font-size: inherit; 
    font-family: inherit;
    background-color: #f0f0f0;
    border-radius: 7px;
    padding: 7px; 
    border: 1px solid gray;
}
button:hover:not(.window-button):not(.operation-button), input:hover, select:hover, textarea:hover {
    background-color: lightgray;
}
:disabled {
    background-color: white;
}
.top-bar {
    background-color: lightgray; 
    padding: 7px;
    text-align: center;
}
.application-row {
    background-color: lightgray;
    padding: 7px;
    width: 100%;
}
.app {
    border-radius: 3px; 
    background-color: white; 
}
.title-bar {
    background-color: black; 
    color: white; 
    text-align: center;
    cursor: move;
}
.window-button {
    padding: 7px;
    background-color: white; 
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px gray;
}
.active-window-button {
    background-color: cyan !important;
    box-shadow: none;
    margin-right: -1px;
    margin-bottom: -1px;
}
.resolution-changed {
    /* I am getting tired of having to change this
       whenever a new modal is added. */
    z-index: 888;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 7px;
    display: none;
}
.operation-button {
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    background-color: transparent;
    color: white;
}
.close-button:hover {
    background-color: red;
}
.maximized {
    width: 100% !important; 
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}
.minimized {
    display: none !important;
}
#application-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#application-list button {
    padding: 14px;
    border-radius: 7px;
    background-color: transparent;
    border: none;
    color: white;
}
#application-list button:hover {
    background-color: rgba(128, 128, 128, 0.8);
}
#app-list, #restart, #shutdown {
    padding: 21px;
    color: white;
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
}
#shutdown {
    z-index: 5;
}
#app-list {
    z-index: 3;
    width: 75%; 
    height: 75%;
}
.center {
    text-align: center;
}
.app {
    border: 1px solid black;
}
.box {
    border: 1px solid;
    padding: 7px;
}
.success {
    color: green; 
    background-color: lightgreen;
}